<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://js.arcgis.com/4.27/esri/themes/light/main.css" />
  <link rel="stylesheet" href="/css/arcgis.css">
  <script src="/js/tailwindV4.js"></script>
  <script src="/js/esriApiKey.js"></script>
  <script src="https://js.arcgis.com/4.27/"></script>
  <title>✈️ แผนที่ค้นหาสถานที่ท่องเที่ยวและที่พัก จ.ขอนแก่น</title>
</head>

<body lang="th">
  <div class="h-screen flex justify-center">
    <div class="fixed z-70 p-3 bg-sky-700 text-white opacity-90 rounded-2xl mt-2">✈️ แผนที่ค้นหาสถานที่ท่องเที่ยวและที่พัก จ.ขอนแก่น</div>
    <div id="viewDiv"></div>
  </div>
  <div id="showtest"></div>
  <script src="/js/index.js"></script>
</body>

</html>